body {
  font-family: Arial, sans-serif;
  background: #ccc;
}

.page {
  width: 210mm;
  min-height: 297mm;
  background: #fff;
  margin: 15px auto;
  padding: 15px 18px;
  page-break-after: always;
}


.center {
  text-align: center;
}

.small {
  font-size: 12px;
}

h1 {
  margin: 0;
}

h2 {
  background: #e0e0e0;
  padding: 4px;
  font-size: 13px;
  margin: 10px 0 4px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 6px;
}

.table th,
.table td {
  border: 1px solid #000;
  padding: 4px;
  font-size: 12px;
}

.gray {
  background: #e0e0e0;
}

input, textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
}

textarea {
  resize: none;
}

.textarea-curto {
  min-height: 50px;
}

.textarea-medio {
  min-height: 80px;
}

.assinatura {
  margin-top: 30px;
}

.print-area {
  text-align: center;
  margin: 15px;
}

.print-area button {
  padding: 8px 16px;
  font-size: 15px;
  cursor: pointer;
}

/* IMPRESSÃO */
@media print {
  body {
    background: #fff;
  }

  .print-area {
    display: none;
  }

  .page {
    margin: 0;
    padding: 15mm;
  }
}

